{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
  {cowboy, ".*", {git, "git://github.com/extend/cowboy", {branch, "master"}}},
  {lager, "*", {git, "git://github.com/basho/lager.git", "master"}}
]}.

{relx, [{release, {'best_demo', "1.0.0"},
         ['best_demo',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles,
  [
    {prod_with_erlang, [{relx, [{dev_mode, false},
      {include_erts, true},
      {include_src, false}]},
      {erl_opts, [no_debug_info]}] %,warnings_as_errors
    },
    {prod_without_erlang, [{relx, [{dev_mode, false},
      {include_erts, false},
      {include_src, false}]},
      {erl_opts, [no_debug_info]}] %,warnings_as_errors
    }

  ]
}.

{plugins, [
  {provider_asn1, {git, "https://github.com/knusbaum/provider_asn1.git", "0.1.1"}}
]}.
